doctype
html
	head
		meta(charset="utf-8")
		meta(lang="en")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Second Project
		link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		header#header
			.green-line
			nav.positioner
				.logo
					h1 indipixel
				ul
					li
						a contact us

		main
			.positioner.container
				.phone
					.frame
						.screen
				.content
					.introduction
						h2 we design and buils beautiful web &amp; mobile apps
						p You can design and create, and build the most wonderful place in the world. But it takes people to make the dream a reality. - Walt Disney
						button Know more
					.form
						form
							.input-section
								input(type="text", name="firstname", placeholder="First Name")
								input(type="text", name="lastname", placeholder="Last Name")
								input(type="email", name="email", placeholder="Email Address")
								select(name="design")
									option(value="option1") App Design
									option(value="option2") Option 2
							.textarea
								textarea(name="message", rows="7", cols="80") Type your query here
							.submit
								input(type="submit", value="Send" class="submit")


		footer(id="footer")
			.footer.positioner
				.copyright &copy; 2015 Indipixel design 
				.contact 
					img(src="images/Mail_icon.png") 
					.email contact@yourmail.com

