doctype
html
	head
		meta(charset="utf-8")
		meta(lang="en")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		title Second Project
		link(rel="stylesheet", type="text/css", href="styles/style.css")
	body
		header#header
			.green-line
			.container
				nav
					.logo indipixel
					ul
						li
							a contact us

		.container
			.phone
			.content
		footer(id="footer")
			.copyright &copy; 2015 Indipixel design 
			.contact 
				img(src="images/Mail_icon.png") 
				.email contact@yourmail.com

