@font-face {
  font-family: Montserrat;
  src: local('Montserrat'), url("../fonts/Montserrat-Regular.woff") format('woff'), url("fonts/Montserrat-Regular.ttf") format('truetype'), url("fonts/Montserrat-Regular.svg") format('svg');
  font-weight: 400;
}
@font-face {
  font-family: Montserrat;
  src: local('Montserrat'), url("../fonts/Montserrat-Light.woff") format('woff'), url("fonts/Montserrat-Light.ttf") format('truetype'), url("fonts/Montserrat-Light.svg") format('svg');
  font-weight: 300;
}
@font-face {
  font-family: Montserrat;
  src: local('Montserrat'), url("../fonts/Montserrat-Thin.woff") format('woff'), url("fonts/Montserrat-Thin.ttf") format('truetype'), url("fonts/Montserrat-Thin.svg") format('svg');
  font-weight: 200;
}
@font-face {
  font-family: Montserrat;
  src: local('Montserrat'), url("../fonts/Montserrat-Bold.woff") format('woff'), url("fonts/Montserrat-Bold.ttf") format('truetype'), url("fonts/Montserrat-Bold.svg") format('svg');
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: local('Montserrat'), url("../fonts/Montserrat-SemiBold.woff") format('woff'), url("fonts/Montserrat-SemiBold.ttf") format('truetype'), url("fonts/Montserrat-SemiBold.svg") format('svg');
  font-weight: 600;
}
html {
  min-height: 100%;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  z-index: -1;
  line-height: 1;
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #fff;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.positioner {
  max-width: 1200px;
  margin: 0 auto;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.positioner-bottom {
  width: 1200px;
  margin: 0 auto;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
main {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.red {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  background: #ef5350;
  max-width: 100%;
  z-index: -1;
}
.phone-top {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  -moz-flex: 0 0 41.8%;
  -ms-flex: 0 0 41.8%;
  flex: 0 0 41.8%;
  height: 583px;
}
.frame {
  position: relative;
  top: 64px;
  z-index: 9;
  max-width: 100%;
  width: 388px;
  height: 814px;
  background: url("../images/phone_frame.png") no-repeat;
}
.screen {
  position: absolute;
  z-index: 10;
  max-width: 329px;
  max-height: 583px;
  top: 115px;
  left: 28px;
  width: 100%;
  height: 100%;
  background: url("../images/phone_screen.png") no-repeat;
}
.darker-line {
  position: absolute;
  border-bottom: 82px solid #04e4a2;
  border-left: 50px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 130%;
  left: -67.7%;
  top: 20.3%;
  z-index: 3;
  -webkit-transform: rotate(37.7deg);
}
.lighter-line {
  position: absolute;
  border-bottom: 82px solid #69f0ae;
  border-left: 50px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 130%;
  left: -66.8%;
  top: 39.3%;
  z-index: 4;
  -webkit-transform: rotate(37.7deg);
}
.content {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex: 1 0 58.2%;
  -ms-flex: 1 0 58.2%;
  flex: 1 0 58.2%;
  padding: 0 5.3% 0 10.6%;
}
.introduction {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  line-height: 1.2;
  font-weight: normal;
}
.introduction h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.92em;
  color: #fff;
}
.introduction h2::before {
  content: "";
  display: block;
  padding-top: 11.3%;
  height: 0;
}
.introduction p::after,
.introduction p::before {
  content: "";
  display: block;
  padding-bottom: 4.5%;
  height: 0;
}
.introduction p {
  font-size: 1.128em;
  font-weight: 200;
  line-height: 1.25;
  border-bottom: 1px dashed #e94643;
  color: #fff;
}
.introduction .padding {
  -ms-flex-item-align: end;
  align-self: flex-end;
  padding-right: 1.5%;
}
.introduction .padding::before {
  content: "";
  display: block;
  padding-top: 19%;
  height: 0;
}
.introduction button {
  text-transform: uppercase;
  background: #69f0ae;
  color: #fff;
  font-size: 1.21em;
  width: 166px;
  height: 53px;
  padding-left: 6%;
  border-radius: 6px;
}
.white {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.phone-bottom {
  -moz-flex: 1 0 41.8%;
  -ms-flex: 1 0 41.8%;
  flex: 1 0 41.8%;
  width: 100%;
}
form {
  width: 100%;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-flex: 1 0 58.2%;
  -ms-flex: 1 0 58.2%;
  flex: 1 0 58.2%;
  padding: 0 4.1% 0 10.6%;
}
.form-caption {
  color: #ef5350;
  font-size: 1.22em;
  font-weight: 300;
  padding-left: 4.4%;
}
.form-caption::before {
  content: "";
  display: block;
  padding-bottom: 6.5%;
  height: 0;
}
.form-caption::after {
  content: "";
  display: block;
  padding-bottom: 3.5%;
  height: 0;
}
.input-section {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between;
}
.input-section input {
  -ms-flex-preferred-size: 48%;
  flex-basis: 48%;
  height: 50px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 0.97em;
  border: 2px solid #e3f2fd;
  border-radius: 4px;
  padding: 13px 20px;
  color: #636363;
}
.input-section input:first-child,
.input-section input:nth-child(2) {
  margin-bottom: 17px;
}
.input-section input:nth-child(2),
.input-section input:last-child {
  padding-left: 35px;
}
.input-section input:last-child {
  background: url("../images/arrow.png") no-repeat 92% 52%;
}
input::-webkit-input-placeholder {
  color: #636363;
}
input:-moz-placeholder {
  color: #636363;
}
input::-moz-placeholder {
  color: #636363;
}
input:-ms-input-placeholder {
  color: #636363;
}
.textarea textarea {
  font-family: Montserrat;
  font-size: 0.96em;
  font-weight: 300;
  padding: 12px 22px;
  border: 2px solid #e3f2fd;
  border-radius: 4px;
  width: 100%;
  height: 98px;
  resize: none;
  color: #636363;
}
.textarea::before {
  content: "";
  display: block;
  padding-bottom: 3.3%;
  height: 0;
}
.submit {
  -ms-flex-item-align: end;
  align-self: flex-end;
}
.submit input[type="submit"] {
  background: #e94643;
  height: 45px;
  width: 120px;
  font-size: 1.25em;
  font-weight: 600;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
}
.submit::before {
  content: "";
  display: block;
  padding-bottom: 11.5%;
  height: 0;
}
.submit::after {
  content: "";
  display: block;
  padding-bottom: 24%;
  height: 0;
}
#footer::before {
  content: "";
  display: block;
  padding-bottom: 2%;
  height: 0;
}
#footer {
  color: #000;
  background: #fefcf2;
  height: 73px;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}
.footer {
  width: 100%;
  font-size: 0.96em;
  font-weight: 300;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-flex: 1 0 50%;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}
.copyright,
.contact {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
      align-self: center;
  -moz-flex: 1 0 40%;
  -ms-flex: 1 0 40%;
  flex: 1 0 40%;
}
.copyright {
  padding-left: 9.5%;
}
.contact {
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center;
  padding-left: 2.46%;
}
.mail-icon {
  background: url("../images/mail_icon.png") no-repeat 0 0;
  width: 30px;
  height: 24px;
  margin: 0 3% 1% 0;
}
@media screen and (max-width: 449px) {
  .contact .mail-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone-top,
  .phone-bottom {
    display: none;
  }
  .padding::after {
    content: "";
    display: block;
    padding-top: 10%;
    height: 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .phone-top,
  .phone-bottom {
    display: none;
  }
  .padding::after {
    content: "";
    display: block;
    padding-top: 10%;
    height: 0;
  }
  .input-section {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input:nth-child(2),
  .input-section input:last-child {
    padding: 13px 19px;
  }
  input:nth-child(3),
  input:last-child {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 449px) {
  .phone-top,
  .phone-bottom {
    display: none;
  }
  .padding::after {
    content: "";
    display: block;
    padding-top: 10%;
    height: 0;
  }
  .input-section {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input:nth-child(2),
  .input-section input:last-child {
    padding: 13px 19px;
  }
  input:nth-child(3),
  input:last-child {
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .padding::after {
    content: "";
    display: block;
    padding-top: 10%;
    height: 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .padding::after {
    content: "";
    display: block;
    padding-top: 10%;
    height: 0;
  }
}
@media screen and (max-width: 449px) {
  .padding::after {
    content: "";
    display: block;
    padding-top: 10%;
    height: 0;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .input-section {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input:nth-child(2),
  .input-section input:last-child {
    padding: 13px 19px;
  }
  input:nth-child(3),
  input:last-child {
    margin-bottom: 17px;
  }
}
@media screen and (max-width: 449px) {
  .input-section {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .input-section input:nth-child(2),
  .input-section input:last-child {
    padding: 13px 19px;
  }
  input:nth-child(3),
  input:last-child {
    margin-bottom: 17px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone-top {
    display: none;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .phone-top {
    display: none;
  }
}
@media screen and (max-width: 449px) {
  .phone-top {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .phone-bottom {
    display: none;
  }
}
@media screen and (min-width: 450px) and (max-width: 767px) {
  .phone-bottom {
    display: none;
  }
}
@media screen and (max-width: 449px) {
  .phone-bottom {
    display: none;
  }
}
