@import "base/_base"
@import "header/_header"
@import "main/_main"
@import "footer/_footer"

@import "main/_responsive"
@import "main/content/_responsive"
@import "main/form/_responsive_form__input-section"
@import "main/phone-top/_responsive"
@import "main/phone-bottom/_responsive"