/* -------- Main part ----------*/

	/*------ red part --------*/
main
	flexbox()
	flex-direction(column)
	width: 100%
	flex-grow: 1
.red 
	flexbox()
	background: lighter-red
	max-width: 100%
	z-index: -1

@import "phone-top/_phone-top"
@import "content/_content"
		


    /*-------- white part --------*/

.white
	flexbox()
@import "phone-bottom/_phone-bottom"
@import "form/_form"
@import "form/_form__caption"
@import "form/_form__input-section"
@import "form/_form__textarea"
@import "form/_form__submit"