.form-caption
	color: lighter-red
	font-size: 1.22em
	font-weight: 300
	padding-left: 4.4%
.form-caption::before
	content: ""
	display: block
	padding-bottom: 6.5%
	height: 0	
.form-caption::after
	content: ""
	display: block
	padding-bottom: 3.5%
	height: 0