.phone-bottom
	flex(1 0 41.8%)
	width: 100%
	
+for_breakpoint(desktop)
	.phone-bottom
		display: none
+for_breakpoint(tablet)
	.phone-bottom
		display: none
+for_breakpoint(mobile)
	.phone-bottom
		display: none