@media screen and (min-width: 768px) and (max-width: 1199px)
	.padding::after
		content: ""
		display: block
		padding-top: 10%
		height: 0
@media screen and (min-width: 450px) and (max-width: 767px)
	.padding::after
		content: ""
		display: block
		padding-top: 10%
		height: 0

@media screen and (max-width: 449px)
	.padding::after
		content: ""
		display: block
		padding-top: 10%
		height: 0