.content {
  padding: 0 5.3% 0 10.6%;
}
.introduction {
  line-height: 1.2;
  font-weight: normal;
}
.introduction h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.92em;
  color: #fff;
}
.introduction h2::before {
  content: "";
  display: block;
  padding-top: 11.3%;
  height: 0;
}
.introduction p::after,
.introduction p::before {
  content: "";
  display: block;
  padding-bottom: 4.5%;
  height: 0;
}
.introduction p {
  font-size: 1.128em;
  font-weight: 200;
  line-height: 1.25;
  border-bottom: 1px dashed darker-red;
  color: #fff;
}
.introduction .padding {
  padding-right: 1.5%;
}
.introduction .padding::before {
  content: "";
  display: block;
  padding-top: 19%;
  height: 0;
}
.introduction button {
  text-transform: uppercase;
  background: lighter-green;
  color: #fff;
  font-size: 1.21em;
  width: 166px;
  height: 53px;
  padding-left: 6%;
  border-radius: 6px;
}
