@font-face {
  font-family: Montserrat;
  src: local('Montserrat'), url("fonts/Montserrat-Regular.woff") format('woff'), url("fonts/Montserrat-Regular.ttf") format('truetype'), url("fonts/Montserrat-Regular.svg") format('svg');
  font-weight: normal;
}
@font-face {
  font-family: Montserrat;
  src: local('Montserrat'), url("fonts/Montserrat-Bold.woff") format('woff'), url("fonts/Montserrat-Bold.ttf") format('truetype'), url("fonts/Montserrat-Bold.svg") format('svg');
  font-weight: bold;
}
@font-face {
  font-family: PTSansRegular;
  src: local('PTSansRegular'), url("fonts/PT_Sans-Web-Regular.woff") format('woff'), url("fonts/PT_Sans-Web-Regular.ttf") format('truetype'), url("PT_Sans-Web-Regular.svg") format('svg');
  font-weight: normal;
}
@font-face {
  font-family: PTSansRegular;
  src: local('PTSansRegular'), url("fonts/PT_Sans-Web-Bold.woff") format('woff'), url("fonts/PT_Sans-Web-Bold.ttf") format('truetype'), url("PT_Sans-Web-Bold.svg") format('svg');
  font-weight: bold;
}
/* -------- Genera part ----------*/
html {
  width: 100%;
  height: 100%;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box;
}
body {
  line-height: 1;
  width: 100%;
  height: 100%;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  color: #fff;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
.positioner {
  max-width: 1200px;
  margin: 0 auto;
}
/* -------- Header part ----------*/
.green-line {
  width: 100%;
  background: #04e4a2;
  height: 22px;
}
#header {
  background: #e94643;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#header nav .logo {
  font-size: 2em;
  font-weight: bold;
  padding-left: 13%;
}
#header nav ul {
  padding: 0.4% 1% 0 0;
}
#header nav ul li {
  text-transform: uppercase;
}
#header nav ul li a {
  border-bottom: 3px solid #fdd835;
  padding-bottom: 1.5%;
}
/* -------- Main part ----------*/
.red {
  background: #ef5350;
  position: absolute;
  width: 100%;
  height: 583px;
  z-index: -1;
}
.container {
  display: flex;
  flex-wrap: nowrap;
  z-index: 1;
  position: relative;
}
.container .content {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 58.2%;
  padding: 15.6% 4.2% 0 10.7%;
  height: 100%;
  -moz-appearance: none;
  appearance: none;
}
.container .content .introduction {
  display: flex;
  justify-content: center;
  flex-direction: column;
  line-height: 1.2;
  font-weight: normal;
  align-items: center;
  max-height: 583px;
  height: 100%;
  padding-right: 3.5%;
  margin-bottom: 30%;
}
.container .content .introduction h2 {
  text-transform: uppercase;
  font-size: 1.8em;
  margin-bottom: 4.5%;
  color: #fff;
}
.container .content .introduction p {
  font-size: 1.2em;
  border-bottom: 1px dashed #e94643;
  padding-bottom: 5.5%;
  margin-bottom: 5.2%;
  color: #fff;
}
.container .content .introduction button {
  align-self: flex-end;
  text-transform: uppercase;
  background: #69f0ae;
  color: #fff;
  font-size: 1.2em;
  width: 166px;
  height: 53px;
  border-radius: 6px;
}
.container .content .form {
  margin-bottom: 5.5%;
}
.container .content form {
  display: flex;
  flex-direction: column;
}
.container .content form .form-caption {
  color: #ef5350;
  font-size: 1.2em;
  padding: 1% 0 0 4.3%;
  margin-bottom: 1.5%;
}
.container .content form .textarea {
  flex-basis: 100%;
  margin-top: 1.8%;
  margin-bottom: 2.4%;
}
.container .content form .textarea textarea {
  padding: 13px 21px;
  border: 2px solid #e3f2fd;
  border-radius: 4px;
  width: 100%;
  height: 98px;
  overflow: auto;
  resize: none;
  color: rgba(99,99,99,0.57);
}
.container .content form .submit {
  align-self: flex-end;
}
.container .content form .submit input[type="submit"] {
  background: #e94643;
  height: 45px;
  width: 120px;
  font-size: 1.1em;
  color: #fff;
  border-radius: 8px;
  text-transform: uppercase;
}
.container .content form .input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.container .content form .input-section input {
  flex-basis: 48%;
  border-radius: 4px;
  border: 2px solid #e3f2fd;
  padding: 13px 19px;
  margin: 1.85% 0;
  color: #636363;
}
.container .content form .input-section input:nth-child(2),
.container .content form .input-section select {
  padding: 13px 35px;
}
.container .content form .input-section .select-style {
  flex-basis: 48%;
  display: flex;
  padding: 1% 0;
  background: #fff url("../images/arrow.png") no-repeat 92% 52%;
}
.container .content form .input-section .select-style select {
  color: rgba(99,99,99,0.57);
  flex-basis: 100%;
  border-radius: 4px;
  border: 2px solid #e3f2fd;
  padding: 13px 35px;
  margin: 1.85% 0;
  background-color: transparent;
  -webkit-appearance: none;
}
.container .phone {
  display: flex;
  justify-content: flex-end;
  flex: 1 0 41.8%;
  margin-bottom: 2.6%;
}
.container .phone .frame {
  z-index: 9;
  display: flex;
  align-self: center;
  position: relative;
  max-width: 100%;
  width: 388px;
  height: 814px;
  max-height: 100%;
  background: url("../images/phone_frame.png") no-repeat;
}
.container .phone .frame .screen {
  position: absolute;
  z-index: 10;
  max-width: 329px;
  max-height: 583px;
  top: 115px;
  left: 28px;
  width: 100%;
  height: 100%;
  background: url("../images/phone_screen.png") no-repeat;
}
.container .phone .darker-line {
  position: absolute;
  border-bottom: 82px solid #04e4a2;
  border-left: 50px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 130%;
  left: -67.7%;
  top: 12.3%;
  z-index: 3;
  -webkit-transform: rotate(37.6deg);
}
.container .phone .lighter-line {
  position: absolute;
  border-bottom: 82px solid #69f0ae;
  border-left: 50px solid transparent;
  border-right: 35px solid transparent;
  height: 0;
  width: 130%;
  left: -66.9%;
  top: 23%;
  z-index: 4;
  -webkit-transform: rotate(37.6deg);
}
/* -------- Footer part ----------*/
#footer {
  color: #000;
  background: #fefcf2;
  height: 73px;
  display: flex;
}
#footer .footer {
  width: 100%;
  display: flex;
  flex: 1 0 50%;
}
#footer .footer .copyright,
#footer .footer .contact {
  align-self: center;
  flex: 1 0 40%;
}
#footer .footer .copyright {
  padding-left: 9.5%;
}
#footer .footer .contact {
  display: flex;
  align-items: center;
  padding-left: 2.4%;
}
#footer .footer .contact .mail-icon {
  background: url("../images/mail_icon.png") no-repeat 0 0;
  width: 30px;
  height: 24px;
  margin-right: 19px;
}
@media screen and (min-width: 1145px) and (max-width: 1199px) {
  .red {
    height: 48.7vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1144px) {
  .container .phone {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .container .phone {
    display: none;
  }
  .form-caption,
  .input-section,
  .select-style,
  .submit {
    flex-basis: 100%;
  }
}
