@import "fonts"
@import "flexbox"

darker-green = #04E4A2
lighter-green = #69F0AE
hover-color = #FDD835
footer-color = #FEFCF2
darker-red = #E94643
lighter-red = #EF5350
lighter-black = #1D1D1D
form-border = #E3F2FD
grey = #636363
grey-special = rgba(99, 99, 99, 0.57)
white = #ffffff

/* -------- Genera part ----------*/
html
	min-height: 100%
	flexbox()
	flex-direction(column)
*
	padding: 0
	margin: 0
	border: 0
	font-size: 100%
	box-sizing: border-box

body
	z-index: -1
	line-height: 1
	width: 100%
	height: 100%
	font-family: Montserrat, sans-serif
	font-size: 16px
	color: white
	flexbox()
	flex-direction(column)
ul
	li
		list-style: none
a
	text-decoration: none

.positioner
	max-width: 1200px
	margin: 0 auto
	flexbox()
	position: relative

/* -------- Header part ----------*/

.green-line
	width: 100%
	background: darker-green
	height: 22px
#header
	width: 100%
	background: darker-red
	height: 100px
	flexbox()
	flex-wrap(wrap)
	position: relative
	nav
		width: 100%
		flexbox()
		justify-content(space-between)
		.logo
			font-size: 2em 
			font-weight: bold
			padding-left: 13%
		ul	
			padding: 0.4% 1% 0 0
			li
				text-transform: uppercase
				a
					border-bottom: 3px solid hover-color
					padding-bottom: 1.5%

/* -------- Main part ----------*/

	/*------ red part --------*/
main
	flexbox()
	flex-direction(column)
	width: 100%
	flex-grow: 1
.red 
	flexbox()
	background: lighter-red
	width: 100%
	z-index: -1

.content
	flexbox()
	flex(1 0 58.2%)
	padding-right: 5.9%
	padding-left: 11%
.introduction
	flexbox()
	justify-content(center)
	flex-direction(column)
	line-height: 1.2
	font-weight: normal
	align-items(center)
	h2
		text-transform: uppercase
		font-size: 1.8em
		color: white
	h2::after
		content: ""
		display: block
		padding-bottom: 4.4%
		height: 0
					
	p 
		font-size: 1.2em
		border-bottom: 1px dashed darker-red
		color: white
		
	p::after
		content: ""
		display: block
		padding-bottom: 4.4%
		height: 0
	button
		align-self: flex-end
		text-transform: uppercase
		background: lighter-green
		color: #ffffff
		font-size: 1.2em
		width: 166px
		height: 53px
		border-radius: 6px 
	
		
.phone-top
	flexbox()
	justify-content(flex-end)
	flex(0 0 41.8%)
	height: 583px
.frame
	position: relative
	top: 64px
	z-index: 9
	max-width: 100%
	width: 388px
	height: 814px
	background: url("../images/phone_frame.png") no-repeat
.screen
	position: absolute
	z-index: 10
	max-width: 329px
	max-height: 583px
	top: 115px
	left: 28px
	width: 100%
	height: 100%
	background: url("../images/phone_screen.png") no-repeat
			
.darker-line
	position: absolute
	border-bottom: 82px solid darker-green
	border-left: 50px solid transparent
	border-right: 35px solid transparent
	height: 0
	width: 130%
	left: -67.7%
	top: 20.3%
	z-index: 3
	-webkit-transform: rotate(37.6deg)
.lighter-line
	position: absolute
	border-bottom: 82px solid lighter-green
	border-left: 50px solid transparent
	border-right: 35px solid transparent
	height: 0
	width: 130%
	left: -66.9%
	top: 38%
	z-index: 4
	-webkit-transform: rotate(37.6deg)


    /*-------- white part --------*/

.form
	flexbox()
	justify-content(space-between)
.phone-bottom
	flex(1 0 41.8%)
	width: 100%
	
form
	width: 100%
	flexbox()
	flex-direction(column)
	flex(1 0 58.2%)
	padding-right: 5.9%
.form-caption
	color: lighter-red
	font-size: 1.2em
.textarea
	flex-basis(100%)
	textarea
		padding: 13px 21px
		border: 2px solid form-border
		border-radius: 4px
		width: 100%
		height: 98px
		overflow: auto
		resize: none
		color: grey-special
							
.submit	
	align-self(flex-end)
	input[type="submit"]
		background: darker-red
		height: 45px
		width: 120px
		font-size: 1.1em
		color: white
		border-radius: 8px
		text-transform: uppercase	

.input-section 
	flexbox()
	flex-wrap(wrap)
	justify-content(space-between)
				
	input
		flex-basis(48%)
		border-radius: 4px	
		border: 2px solid form-border
		padding: 13px 19px
		color: grey
	input:nth-child(2), select
		padding: 13px 35px
	.select-style
		flex-basis(48%)
		flexbox()
		padding: 1% 0
		background: white url("../images/arrow.png") no-repeat 92% 52%
		select
			color: grey-special
			flex-basis(100%)
			border-radius: 4px	
			border: 2px solid form-border
			padding: 13px 35px
			margin: 1.85% 0
			background-color: transparent
			-webkit-appearance: none
			-moz-appearance: none
			appearance: none

	
/* -------- Footer part ----------*/
#footer
	color: #000000
	background: footer-color
	height: 73px
	flexbox()
	.footer
		width: 100%
		flexbox()
		flex(1 0 50%)
		.copyright, .contact
			align-self(center)
			flex: 1 0 40%
		.copyright
			padding-left: 9.5%
		.contact
			flexbox()
			align-items(center)
			padding-left: 2.4%
			.mail-icon
				background: url("../images/mail_icon.png") no-repeat 0 0
				width: 30px
				height: 24px
				margin-right: 19px

@media screen and (min-width: 1135px) and (max-width: 1199px)
	.red 
		height: 48.7vw
		
@media screen and (min-width: 768px) and (max-width: 1134px)
	.red 
		height: 53vw
	.phone
		display: none
	.introduction
		margin-bottom: 16%
@media screen and (min-width: 400px) and (max-width: 767px)
	.input-section input:nth-child(2), .input-section .select-style select
		padding: 13px 19px
	.red 
		height: 400px
	.container .phone
		display: none
	.container .content .introduction
		margin-bottom: 12%
	.container .phone
		display: none
	.form-caption, .input-section input, .form .select-style, .form .submit
		flex-basis(100%	)	

@media screen and (max-width: 399px)
	.red 
		height: 60%
	.container .phone
		display: none
	.container .content .introduction
		margin-bottom: 12%
	.container .phone
		display: none
	.form-caption, .input-section input, .form .select-style, .form .submit
		flex-basis(100%)