.submit	
	align-self(flex-end)
	input[type="submit"]
		background: darker-red
		height: 45px
		width: 120px
		font-size: 1.25em
		font-weight: 600
		color: white
		border-radius: 8px
		text-transform: uppercase	

.submit::before
	content: ""
	display: block
	padding-bottom: 11.5%
	height: 0
.submit::after
	content: ""
	display: block
	padding-bottom: 24%
	height: 0