@media screen and (min-width: 450px) and (max-width: 767px)
	.input-section
		flex-basis(100%)
	.input-section input 
		flex-basis(100%)
	.input-section input:nth-child(2), .input-section input:last-child
		padding: 13px 19px
	input:nth-child(3), input:last-child
		margin-bottom: 17px

@media screen and (max-width: 449px)
	.input-section
		flex-basis(100%)
	.input-section input 
		flex-basis(100%)
	.input-section input:nth-child(2), .input-section input:last-child
		padding: 13px 19px
	input:nth-child(3), input:last-child
		margin-bottom: 17px