form
	.form-caption Let's Talk
	.input-section
		input(type="text", name="firstname", placeholder="First Name")
		input(type="text", name="lastname", placeholder="Last Name")
		input(type="email", name="email", placeholder="Email Address")
		input(type="text", name="design", placeholder="App Design")
	.textarea
		textarea(name="message", rows="3", cols="80") Type your query here
	.submit
		input(type="submit", value="Send" class="submit")